.dashboard-section {
  width: 100vw;
  height: auto;
}
.dashboard-section .dashboard-wrapper {
  display: flex;
}

.dashboard-section .dashboard-wrapper .left-section {
  flex: 1;
  height: 100vh;
  border-right: 1px solid rgb(217, 212, 212);
  padding: 0 0.6rem;
}
.dashboard-section .dashboard-wrapper .left-section ul {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  margin-top: 1rem;
}

.dashboard-section .dashboard-wrapper .left-section ul li {
  border-radius: 2px;
  width: 100%;
  text-align: center;
  padding: 2rem;
  font-size: 1.8rem;
  cursor: pointer;
}

.dashboard-section .dashboard-wrapper .left-section ul li:hover {
  background-color: orange;
  transition: all ease-in-out 0.4s;
}
.dashboard-section .dashboard-wrapper .right-section {
  flex: 6;
}
.right-section input {
  border: 1px solid tomato;
  border-radius: 4px;
  outline: none;
  padding: 1.7rem 2rem;
  height: 25px;
  width: 40%;
}

.items-wrapper {
  display: grid;
  padding: 1rem 0.8rem;
  row-gap: 5rem;
  /* background-color: green; */
  overflow: hidden;

  grid-template-columns: repeat(3, 1fr);
}
.items-wrapper .items {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  border-radius: 4px;
}
.items-wrapper .items img {
  /* height: 200px; */
  /* background-color: red; */
  border-radius: 5px;
  overflow: hidden;
  margin: 0.5rem auto;
  width: 300px;
  height: 320px;
  border: 3px solid rgb(238, 233, 233);
  border-radius: 30px;
  padding: 1rem 2rem;
}
.items button {
  background-color: goldenrod;
  border: none;
  padding: 1rem 4rem;
  border-radius: 40px;
  cursor: pointer;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
}

.form-wrapper input {
  width: 100%;
  padding: 1.2rem 1.5rem;
  outline: none;
  border: 1px solid rgb(169, 165, 165);
  border-radius: 5px;
}
.form-wrapper textarea {
  width: 100%;
  padding: 1.2rem 1.5rem;
  border: 1px solid rgb(169, 165, 165);
  resize: none;
}

@media only screen and (max-width: 887px) {
  .items-wrapper .items {
    grid-template-columns: 1fr 1fr;
  }
  .items-wrapper .items h2 {
    text-align: center;
  }
  .items-wrapper .items p {
    text-align: center;
  }
  .dashboard-section .dashboard-wrapper {
    display: flex;
    flex-direction: column;
  }
  .dashboard-section .dashboard-wrapper .left-section ul {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    justify-content: center;
  }
  .dashboard-section .dashboard-wrapper .left-section ul li {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 567px) {
  .items-wrapper .items {
    grid-template-columns: 1fr;
  }
}
