header {
  background-color: tomato;
  font-family: sans-serif;
}

.active {
  border-bottom: 2px solid rgb(8, 12, 24);
}

/* contactDesign */

.contact-wrapper {
  background-color: #f9e11e;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  font-size: 1.5rem;
}

.contact-wrapper .contact {
  display: flex;
  gap: 5rem;
}

.contact-wrapper .contact .contact-icons {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.contact-wrapper .contact .contact-icons .icons {
  font-size: 1.8rem;
}

.contact-wrapper .contact .contact-icons button {
  background-color: rgb(233, 94, 24);
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 0.8rem 4rem;
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
}

/* nav-bar-design */

.nav-bar {
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  font-family: sans-serif;
}

/* .left-nav-section */

.nav-bar .left-nav-section {
  flex: 1;
}
.nav-bar .left-nav-section img {
  width: 65px;
  height: 65px;
}

/* .middle-nav-section */
.nav-bar .middle-nav-section {
  flex: 3;
  position: relative;
}

.nav-bar .middle-nav-section .nav-bar-search {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
}

.nav-bar .middle-nav-section .nav-bar-search input {
  width: 70%;
  outline: none;
  border: none;
  height: 38px;
  padding: 0rem 1rem;
  border-radius: 5px 0 0 5px;
}
.nav-bar .middle-nav-section .nav-bar-search .search {
  background-color: #89bad0;
  height: 38px;
  padding: 0 0.6rem;
  font-size: 2.6rem;
  display: flex;
  align-items: center;
}
.nav-bar .right-nav-section-mobile {
  background-color: rgb(242, 244, 242);
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  position: absolute;
  right: 0%;
  top: 0%;
  width: 100%;
  height: 100vh;
  transition: all 0.3s linear;
  z-index: 99999;
}

.nav-bar .right-nav-section {
  flex: 1;
}

.nav-bar .right-nav-section .nav-icons {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  cursor: pointer;
}
.nav-bar .right-nav-section .nav-icons .icons {
  font-size: 2.5rem;
}
.nav-bar .right-nav-section .nav-icons .account .sub-menu-account {
  display: none;
}

.nav-bar .right-nav-section .nav-icons .account:hover > .sub-menu-account {
  display: block;
  position: absolute;
  border-radius: 5px;
  top: 12.5%;
  right: 1%;
  width: 14%;
  height: 10vmax;
  background-color: rgba(246, 242, 242, 0.985);
  z-index: 9999;
  padding: 1rem;
}
.nav-bar .menu {
  display: none;
  cursor: pointer;
}

.searchData {
  position: absolute;
  padding: 1.4rem;
  top: 102%;
  left: 12.8%;
  width: 74.8%;
  height: 50vh;
  background-color: rgb(250, 242, 242);
  border-radius: 1px;
  display: none;
  z-index: 99;
}
.searchData li {
  cursor: pointer;
  padding: 1rem 0.8rem;
  border-radius: 4px;
}
.searchData li:hover {
  background-color: rgb(226, 222, 222);
}
.show-search {
  display: block;
}

@media only screen and (max-width: 1040px) {
  .contact-wrapper {
    background-color: #f9e11e;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    height: 80px;
  }
}

@media only screen and (max-width: 768px) {
  ::placeholder {
    font-size: 1.1rem;
  }
  .nav-bar .left-nav-section img {
    width: 45px;
    height: 45px;
  }
  .nav-bar .right-nav-section {
    display: none;
  }
  .contact-wrapper {
    background-color: #f9e11e;
    display: flex;
    gap: 0;
    flex-direction: column;
    font-size: 1.3rem;
    height: 125px;
  }
  .contact-wrapper .contact {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  .contact-wrapper .contact .contact-icons {
    display: flex;
    align-items: center;
  }

  .contact-wrapper .contact .contact-icons button {
    background-color: rgb(233, 94, 24);
    outline: none;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
  }
  .nav-bar .middle-nav-section .nav-bar-search input {
    width: 75%;
    height: 32px;
  }
  .nav-bar .middle-nav-section .nav-bar-search .search {
    height: 32px;
  }

  .nav-bar .middle-nav-section .nav-bar-search {
    font-weight: 700;
  }
  .nav-bar {
    width: 95%;
    margin: auto;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
  }
  .nav-bar .left-nav-section {
    flex: 0;
  }
  .nav-bar .left-nav-section .middle-nav-section {
    flex: 2;
  }
  .nav-bar .left-nav-section .right-nav-section {
    flex: 1;
    display: flex;
  }
  .nav-bar .menu {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 2.4rem;
  }
  .nav-bar .show {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.3s linear;
    transform: translateX(0%);
  }
}
