.product-details-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* height: 100vh; */
}

.left {
  width: 70%;
  margin: 5rem auto;
}
.left-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.left div .arr-img {
  display: flex;
  /* flex-direction: column; */
  gap: 2rem;
}

.left div .img-item {
  width: 80px;
  height: 80px;
  border: 2px solid wheat;
}

.img-item img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.img-preview {
  width: 85%;
  height: 450px;
  border: 2px solid rgb(239, 234, 234);
}

.img-preview img {
  width: 100%;
  height: 100%;
}

.right {
  display: flex;
  padding: 10rem 0.8rem;
  /* align-items: center; */
}

.right-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.product-section-second {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  justify-content: center;
  width: 80%;
  margin: auto;
  margin-top: 4rem;
}
.product-section-second .products-items {
  border: none;
}
.product-section-second .products-items figure {
  height: 250px;
  width: 100%;
  border: none;
}
.product-section-second .products-items figure img {
  width: 100%;
  height: 100%;
}
.product-section-second button {
  background-color: orange;
  width: 65%;
  margin: 2rem auto;
  border-radius: 50px;
  outline: none;
  padding: 0.8rem 4rem;
  border: none;
  font-size: 1.3rem;
  font-weight: 550;
}

.right .btn-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}
.right .btn {
  background-color: orange;
  color: #3c1007;
  width: 25%;
  cursor: pointer;
  border-radius: 50px;
  outline: none;
  padding: 0.8rem 1rem;
  border: none;
  font-size: 1.4rem;
  font-weight: 550;
}
